# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Dependencies
node_modules

# Build outputs
.next
out
dist
build

# Testing
coverage

# Misc
.DS_Store
*.pem

# Environment files
.env
.env.*
!.env.example

# IDE
.idea
.vscode
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Git
.git
.gitignore
